<!DOCTYPE html>
<html>
<head>
  <title>FfcWebForm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

  <%= render 'layouts/sidebar' %>

  <!--Main Content Start -->
        <section class="content">
            <!-- Header -->
            <%= render 'layouts/nav' %>
            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <% flash.each do |name, msg| %>
              <% if msg.is_a?(String) %>
                <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                </div>
              <% end %>
            <% end %>

            <div class="wraper container-fluid">
                <%= yield %>
            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                <%= Date.today.year %> © Navarre + Pollowitz.
            </footer>
            <!-- Footer Ends -->


        </section>
        <!-- Main Content Ends -->
  </div>
</body>
</html>
